[Desktop Entry]
Name=Blackbox Service Menu
Comment=Run Blackbox on files or open Blackbox in folders
Icon=com.raggesilver.BlackBox
Type=Service
X-KDE-PluginInfo-Name=blackbox-servicemenu
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Author=Howhow howhow@howhow.stream
X-KDE-PluginInfo-Category=ServiceMenus
# X-KDE-PluginInfo-Dependencies=
# X-KDE-PluginInfo-Website=https://example.com
X-KDE-PluginInfo-EnabledByDefault=true
